@use '../abstracts/' as *;

/* Footer
-------------------------------------------------------------- */

#footer {
    padding: 100px 0 43px;
    background: #1C1C1E;
    position: relative;
    color: $color-1;
    .group-icon {
        margin-bottom: 113px;
        .box-icons {
            background-color: #FFF5E0;
            border-radius: 12px;
            padding: 30px 31px 45px 30px;
            .images {
                flex: none;
                margin-right: 30px;
                img {
                    transition: all 0.8s ease;
                }
            }
            .title-icon {
                margin-bottom: 13px;
            }
            &:hover {
                .images img {
                    transform: rotateY(180deg);
                }
            }
        }
        .button-footer {
            margin-top: -26px;
            .sc-button {
                width: 212px;
                margin-right: 8px;
                span {
                    position: relative;
                    &::before {
                        content: "";
                        width: 1px;
                        height: 22px;
                        background-color: rgba( $color-1, 0.2);
                        margin-left: -11px;
                        position: absolute;
                    }
                }
            }
        }
    }
    h3 {
        margin-bottom: 24px;
    }
    &.home2 {
        background: $color-1;
        color: $color-2;
        padding: 0 0 43px;
        .widget-menu .box-menu li a {
            color: $color-2;
            &:hover {
                color: $color-3;
            }
        }
        .widget-form button {
            color: $color-3;
            background: linear-gradient(0deg, #FFF5E0, #FFF5E0),
            linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
            &::after {
                color: $color-3;
            }
            &:hover {
                background: $color-3;
                color: $color-1;
                &::after {
                    color: $color-1;
                }
            }
        }
        .widget-form .btn-checkbox {
            border: 1px solid #E5E5EA;
        }
    }
}

.widget-info {
    .sub-title {
        margin-bottom: 6px;
    }
    h5 {
        margin-bottom: 16px;
    }
    .text-1 {
        margin-bottom: 13px;
    }
}


/* Widget
-------------------------------------------------------------- */

/* widget-menu */
.widget-menu {
    .title-widget {
        font-size: 22px;
        margin-bottom: 28px;
    } 
    .box-menu {
        li {
            a {
                margin-bottom: 12px;
                position: relative;
                padding-left: 4px;
                color: rgba(#fff ,0.5);
                &::before {
                    content: '\f105';
                    font-family      : 'Font Awesome 5 Pro';
                    color: $color-3;
                    font-size: 14px;
                    margin-right: 11px;
                    @include transition3;
                }
            }
            &:hover {
                a {
                    @include transition3;
                    color: $color-3;
                    &::before {
                        opacity: 0;
                        visibility: hidden;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .images {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;
    }
    .button-author {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #FFFFFF1A;
        background-color: rgba( $color-1, 0.1);
        border-radius: 50%;
        font-size: 10px;
        &:hover {
            background-color: $color-3;
            border: 1px solid $color-3;
        }
    }
    .box-icon {
        margin-bottom: 27px;
        .icon {
            margin-right: 17px;
        }
        .content {
            a p {
                @include transition3;
                &:hover {
                    color: $color-3 !important;
                }
            }
        }
    }
}

.widget-form {
    p {
        padding-top: 1px;
        margin-bottom: 15px;
    }
    label {
        position: relative;
        cursor: pointer;
    }
    label input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .btn-checkbox {
        width: 24px;
        height: 20px;
        border: 1px solid #FFFFFF1A;
        background-color: rgba( $color-1, 0.1);
        border-radius: 6px;
        justify-content: center;
        margin-right: 12px;

    }
    .btn-checkbox:after {
        content: "\f00c";
        font-family: 'Font Awesome 5 Pro';
        color: #fff;
        display: none;
    }

    label input:checked~.btn-checkbox {
        background-color: $color-3;
        border: 1px solid $color-3;
    }
    label input:checked~.btn-checkbox:after {
        display: block;
    }
    fieldset {
        position     : relative;
        width        : 100%;
        margin-bottom: 10px;
        input {
            border: 1px solid $color-5;
            padding: 16px 14px 15px 17px;   
            color: $color-2;
            font-weight: 400;
            font-size: 13px;
            background-color: $color-1;
            border-radius: 10px;
            @include transition3;
            position: relative;
            font-family: $font-1;
            line-height: 19.5px;
            &::placeholder {
                color: $color-4;
                line-height: 19.5px;
                font-size: 13px;
                font-weight: 400;
                @include transition3;
            }
            &:focus {
                border: 1px solid $color-3;
            }  
          
        }          
    }
    button {
        width: 100%;
        height: 54px;
        border: 1px solid #FFFFFF1A;
        background-color: rgba($color-1 ,0.1);
        color: $color-1;
        position: relative;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        margin-bottom: 17px;
        @include transition3;
        &::after {
            content: '\f30b';
            font-family      : 'Font Awesome 5 Pro';
            color: $color-1;
            font-size: 16px;
            margin-left: 9px;
            font-weight: 400;
        }
        &:hover {
            background-color: $color-3;
            border: 1px solid $color-3;
        }
    }
}


.widget-logo-footer {
    &.home2 {
        border-top: 1px solid rgba( $color-2, 0.1);
        color: $color-2;
        background: $color-1;
        .icon-social a i {
            color: $color-2;
            background-color: $color-1;
            border: 1px solid $color-5;
            &:hover {
                background-color: $color-3;
                color: $color-1;
                border: 1px solid $color-3;
            }
        }
    }
    position: relative;
    padding: 28px 0 28px;
    border-top: 1px solid rgba( $color-1, 0.1);
    color: $color-1;
    background: #1C1C1E;
    .box-menu {
        margin-left: 144px;
        ul {
            li {
                margin-right: 40.5px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $color-3;
                }
            }
        }
    }
}

.icon-social {
    a {
        i {
            color: $color-1;
            font-size: 16px;
            width: 44px;
            height: 44px;
            background-color: $color-2;
            border: 1px solid rgba( $color-1, 0.2);
            text-align: center;
            line-height: 44px;
            border-radius: 50%;
            margin-right: 4px;
            @include transition3;
            
            &:hover {
                background-color: $color-3;
                color: $color-1;
            }
        }
        &:last-child i {
            margin-right: 0;
        }
    }
}

/* widget bottom footer */
.widget-bottom-footer {
    padding: 30px 0 30px;
    background: #1C1C1E;
    border-top: 1px solid rgba( $color-1, 0.1);
    position: relative;
    .title-bottom {
        color: rgba( #F1FAEE, 0.5);
    }
    &.home2 {
        background: $color-1;
        border-top: 1px solid $color-5;
        .title-bottom {
            color: $color-2
        }
    }
}
