
$font-1: 'Poppins', sans-serif;
$font-2: 'Mulish', sans-serif;



$color-1: #fff;
$color-2: #120A21;
$color-3: #FFA920;
$color-4: #8E8E93;
$color-5: #E5E5EA;
$color-6: #FFF5E0;
$color-7: #3A3A3C;
$color-8: #EFEFEF;
$bg-color: #FFF4E7;
$bg-color2: #FFE8CE;


